---
interface Props{
    value: string;
}
const {value} = Astro.props
---
<!-- TODO, animaciones del fade -->
<button 
class="max-w-fit self-center bg-gradient-to-r from-sky-400 to-blue-500 text-white py-2 px-4 rounded-md inline-block js-scroll fade-in-bottom scrolled text-center"
>
    {value}
</button>