---
import ContactUs from "./Formulario.astro";
// import Loader from '../Loader/Loader.astro';

interface Props {
    title: string;
    text: string;
}
const {title, text} = Astro.props
---
<div class="mx-auto flex flex-col justify-center text-center bg-white py-12">
    <div class="w-11/12 max-w-md mx-auto flex justify-center flex-col">
      <h2 class="text-3xl md:text-4xl font-bold mb-4 text-center js-scroll fade-in">{title}</h2>
      <h3 class="mx-auto text-lg md:text-xl mb-8 js-scroll text-center fade-in-bottom w-11/12">{text}</h3>
    </div>
    <!-- Formulario de contacto -->
			<ContactUs/>
</div>


    
