<form 
name="contact"
method="POST" 
netlify-honeypot="bot-field"
data-netlify-recaptcha="true"
data-netlify="true"
class="p-4 w-11/12 max-w-md mx-auto js-scroll fade-in-bottom"
>
  <!-- {message && <p className="message">{message}</p>} -->
  <div class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </div>
  <div class="mb-4">
    <label class="block font-semibold mb-2 text-start" for="nombre">Nombre</label>
    <input 
    id="nombre"
    type="text"
    name="name"
    class="w-full h-8 px-4 py-2 border rounded-md focus:outline-none bg-transparent focus:ring-2 focus:ring-blue-500"
    placeholder="Jhon Doe"
    required/>
  </div>
  <div class="mb-4">
    <label class="block font-semibold mb-2 text-start" for="email">Correo</label>
    <input 
    id="email" 
    type="email" 
    name="email"
    class="w-full h-8 px-4 py-2 border rounded-md focus:outline-none bg-transparent focus:ring-2 focus:ring-blue-500"
    placeholder="jhonDoe@gmail.com"
    required/>
  </div>
  <div class="mb-4">
    <label class="block font-semibold mb-2 text-start" for="message">Mensaje</label>
    <textarea 
    id="message"
    name="message" 
    class="w-full h-32 px-4 py-2 bg-transparent border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" 
    rows="4" 
    placeholder="Deja tu mensaje" 
    required/>
  </div>
  <div class="mb-8" data-netlify-recaptcha="true"></div>
  <label class="text-center w-full h-auto" for="submit"></label>
  <input 
  type="submit" 
  value="Envíar" 
  class="submit-btn max-w-fit self-center bg-gradient-to-r from-sky-400 to-blue-500 text-white py-2 px-4 rounded-md inline-block text-center md:hover:shadow-lg md:hover:transition-all scale-125 md:cursor-pointer"
  />
</form>
<style>
  .g-recaptcha{
    width: 100% !important
  }
</style>