---
import Button from "../Button/Button.astro"
---
<div class="w-full h-full grid place-items-center gap-y-6">
    <h1>¡Mensaje envíado!</h1>
    <Button 
    value='Volver a la pagina de inicio'
    url="./index.astro"
    >
</div>
