<div class="grid place-items-center w-full text-black">
    <h2 class="text-3xl md:text-4xl font-bold text-centerjs-scroll mb-2 fade-in">Portafolio</h2>
    <p class="p-line text-balance w-11/12 md:text-xl font-medium text-center js-scroll fade-in opacity-60">
        Mira los trabajos que hemos realizado
    </p>
</div>