<ul class="list-disc list-inside mb-8 md:mb-0 w-full">
    <li>Fotografía Corporativa</li>
    <li>Fotografía de Eventos</li>
    <li>Fotografía de Retrato</li>
    <li>Fotografía de Arquitectura</li>
    <li>Asesoría personalizada</li>
</ul>
