<ul class="list-disc list-inside">
    <li>Dise침o web (hasta 5 p치ginas)</li>
    <li>Gesti칩n de redes sociales (hasta 2 plataformas)</li>
    <li>Creaci칩n de contenidos (hasta 10 piezas al mes)</li>
    <li>Identidad de marca (logotipo y manual)</li>
    <li>$1.200.000 CLP al mes</li>
</ul>
