---
import Button from '../Button/Button.astro';

interface Props{
    title: string;
}
const {title} = Astro.props
---

<div class="plan-card js-scroll slide-left">
    <h3 class="text-2xl md:text-3xl font-bold mb-4 text-center opacity-90">{title}</h3>
    <slot name="list"/>
    <Button
    value="Cotizar Ahora"
    url="https://api.whatsapp.com/send?phone=56930575930"
    target='_blank'
    />
</div>
<style>
    .plan-card{
        padding: 2rem;
        width: 320px;
        /* height: 648px; */
        display: grid;
        place-items: center;
        gap:2rem;
        background: linear-gradient(to right top, rgba(16, 46, 75, 0.925), rgba(60, 69, 88, 0.966), rgba(45, 73, 102, 0.993));
        backdrop-filter: blur(5px);
        color: whitesmoke;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border: 2px rgba(255,255,255,0.4) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 2px rgba(40,40,40,0.35) solid;
        border-radius: 0.3rem;
        transition: all 200ms ease-in-out;
    }
    @media(min-width: 768px){
        .plan-card{
            height: 648px;
        }
    }
    @media(min-width: 768px) and (max-width:1023px){
        
        .js-scroll, .slide-left{
            animation:none;
        }
        .plan-card{
            width:20rem;
            /* height: 648px; */
        }
        .plan-card:first-of-type{
            transform: scale(0.9);
        }
        .plan-card:nth-of-type(2){
            z-index: 4;
        }
        .plan-card:last-of-type{
            transform: scale(0.9);
        }
        .plan-card:hover{
            position: relative;
            z-index: 6;
            border-radius: 0.3rem;
            /* box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.55); */
            /* transform: scale(1.01); */
            transform: translateY(-10px);
            /* transition: ease-in 200ms; */
            /* cursor: pointer; */
        }
    }
</style>