<ul class="list-disc list-inside gap-y-8 mb-8 py-1">
    <li>Auditoría y definición de objetivos</li>
    <li>Estrategia digital</li>
    <li>Fotografía</li>
    <li>Diseño y Desarrollo Web</li>
    <li>Community Management</li>
    <li>Comunicación constante</li>
    <li>Herramientas y recursos</li>
    <li>Asesoría personalizada</li>
    <li>¡Trabajamos con tu presupuesto!</li>
</ul>