<ul class="list-disc list-inside gap-y-8 mb-8 py-1">
    <li>diseño web Personalizado',</li>
    <li>Estrategia de Marketing Digital'</li>
    <li>posicionamiento web (SEO básico)'</li>
    <li>publicidad online (SEM básico).'</li>
    <li>Análisis y Seguimiento'</li>
    <li>Creación de contenidos'</li>
    <li>Identidad de Marca'</li>
    <li>Consultoría Personalizada'</li>
    <li>¡Trabajamos con tu presupuesto!</li>
</ul>