---
import Card from "./Card.astro";
import Basic from "./Basic.astro";
import Premium from "./Premium.astro";
import Standar from "./Standar.astro";
import { content } from "./generalContent";
---
<div class="p-card-ctr grid grid-cols-1 place-items-center md:grid-cols-3 gap-8 px-4 md:w-11/12 md:m-auto">
    {
        content?.map((item) => (
            item.basic?
                <Card title={item.basic.title}>
                    <Basic slot="list"/>
                </Card>
            :item.premium?
                <Card title={item.premium.title}>
                    <Premium slot="list"/>
                </Card>
            :item.standar?
                <Card title={item.standar.title}>
                    <Standar slot="list"/>
                </Card>
            : null
                
        ))
    }
</div>