---
import Card from "./Card.astro";
import Basic from "./Basic.astro";
import Premium from "./Premium.astro";
import Standar from "./Standar.astro";
import Exclusive from "./Exclusive.astro"
import { content } from "./generalContent";
---
<div class="p-card-ctr grid grid-cols-1 mb-16 place-items-center md:grid-cols-3 gap-8 px-4 md:w-11/12 md:m-auto">
    {
        content?.map((item) => (
            item.basic?
                <Card title={item.basic.title}>
                    <Basic slot="list"/>
                </Card>
            :item.premium?
                <Card title={item.premium.title}>
                    <Premium slot="list"/>
                </Card>
            :item.standar?
                <Card title={item.standar.title}>
                    <Standar slot="list"/>
                </Card>
            : null
        ))
    }
</div>
<article class="pb-12 sm:py-12 sm:mt-16 w-full gap-8 grid place-items-center sm:bg-gray-100">
    <div class="w-[450px] m-auto sm:flex flex-col gap-2 js-scroll fade-in-bottom hidden">
        <!-- <ExclusiveCard/> -->
        <h2 class="text-3xl md:text-4xl font-bold text-center mb-2 js-scroll fade-in">Exclusive</h2>
        <p class="text-black text-balance text-center">
            El servicio de paquete exclusivo ofrece una <b>experiencia única y personalizada</b> para tus necesidades comerciales. Este paquete exclusivo está diseñado para adaptarse a tus necesidades y presupuesto, brindándote una solución integral y efectiva para impulsar tu presencia en línea.
        </p>
    </div>
    {
        content?.map((item) => (
            item.exclusive?
                <Card title={item.exclusive.title}>
                    <Exclusive slot="list"/>
                </Card>
            :null
        ))
    }
</article> 