<ul class="list-disc list-inside mb-8">
    <li>Diseño web (hasta 20 páginas)</li>
    <li>Gestión de redes sociales (hasta 6 plataformas)</li>
    <li>Creación de contenidos (hasta 40 piezas al mes)</li>
    <li>Identidad de marca (logotipo, manual, eslogan y tono)</li>
    <li>Posicionamiento web (SEO avanzado)</li>
    <li>Publicidad online (SEM avanzado)</li>
    <li>Analítica web (reportes mensuales)</li>
    <li>Fotografía (hasta 50 imágenes al mes)</li>
    <li>$4.800.000 CLP al mes</li>
</ul>