<ul class="list-disc list-inside mb-8 md:mb-0 w-full">
    <li>Auditoría de redes sociales</li>
    <li>Definición de objetivos</li>
    <li>Estrategia de contenido</li>
    <li>Gestión de redes sociales</li>
    <li>Moderación de la comunidad</li>
    <li>Análisis y reporting</li>
    <li>Herramientas y recursos</li>
    <li>Asesoría personalizada</li>
</ul>