<ul class="list-disc list-inside mb-8">
    <li>Diseño Web (hasta 10 páginas)</li>
    <li>Gestión de Redes Sociales (hasta 4 plataformas)</li>
    <li>Creación de Contenidos (hasta 20 piezas al mes)</li>
    <li>Identidad de Marca (logotipo, manual y eslogan)</li>
    <li>Posicionamiento Web (SEO básico)</li>
    <li>Publicidad Online (SEM básico)</li>
    <li>$2.400.000 CLP al mes</li>
</ul>