<ul class="list-disc list-inside mb-8 md:mb-0 w-full">
    <li>Diseño web personalizado</li>
    <li>Desarrollo web profesional</li>
    <li>Dominio web</li>
    <li>Alojamiento web (Hosting)</li>
    <li>Correo corporativo</li>
    <li>Optimización para motores de búsqueda SEO</li>
    <li>Mantenimiento web</li>
    <li>Asesoría personalizada</li>
</ul>