---
import Layout from "../layout/Layout.astro";
import Preloader from "../components/Preloader/Preloader.astro";
import Nav from "../components/Header/Nav/Nav.astro";
import Footer from "../components/Footer/Footer.astro";
import Chat from "../components/ChatBtn.astro"
import ServicesCards from "../components/ServicesCards/ServicesCards.astro";

---

<Layout>
    <Preloader/>
	<header class="mt-[64px]">
		<Nav 
		nosotros="Nosotros"
		planes="Servicios"
		servicios="Metodología"
		contacto="Contacto"
		>
		</Nav>
	</header>
    <main>
		<Chat/>
        <ServicesCards
        sectionTitle="Conoce nuestros servicios"
        paragraph="lorem ipsum"
        />
        <footer class="md:pt-16">
			<Footer/>
		</footer>
    </main>
</Layout>