
<!-- bg-gradient-to-l from-gray-700 via-gray-900 to-black -->
<div class="preloader h-screen w-screen min-w-[326px]  fixed top-0 z-50 bkg-gradient  overflow-hidden animate__animated">
    <div class="w-full h-full grid place-items-center text-white">
        <!-- <Logo description="AGENCIA DIGITAL"/> -->
        <figure class="flex flex-col items-center pt-8 animate-pulse">
            <img 
            src="/assets/logotipo/logoWhite.webp"
            alt="renpi-logo"
            class="w-40 md:w-60"
            >
            <figcaption class="text-[10px] md:text-[16px] font-medium w-40  h-auto text-current text-center opacity-80">
                AGENCIA DIGITAL
            </figcaption>
        </figure>
    </div>
</div>

<script>
    globalThis.addEventListener('load', async () => {
        const { deleteLoader } = await import('./preloader.js')
        deleteLoader()
    })
</script>