<div 
class="video-ctr max-w-full h-2/5 bg-black"
>
    <video 
    src="./assets/video/renpiSpotMobile.mp4"
    class="intro-video my-0 mx-auto object-cover"
    autoplay
    controls
    loop
    muted
    >
    </video>
</div>
  