---
import Logo from "../Logo/Logo.astro"
import SocialMedia from "./SocialMediaBtns.astro"
---

<div class="py-8 mx-auto grid place-items-center text-white">
    <div class="block md:grid md:grid-cols-2 md:w-3/5 place-items-center">
    <Logo description="potenciando tu presencia en línea"/>
    <SocialMedia
    instagram="@renpi_digital"
    facebook="RenPi"
    />
    </div>
    <p class="text-center md:mt-4">Derechos Reservados © Agencia Digital 2023</p>
  </div>