---
import Logo from "../Logo/Logo.astro"
import SocialMedia from "./SocialMediaBtns.astro"
---

<div class="py-8 mx-auto grid place-items-center text-white">
    <div class="block md:grid md:grid-cols-2 md:w-4/5 place-items-center">
    <div class="opacity-80">
      <Logo description="potenciando tu presencia en línea"/>
    </div>
    <SocialMedia
    instagram="@renpi_digital"
    facebook="RenPi"
    />
    </div>
    <p class="text-center md:mt-8 opacity-50">Derechos Reservados © Agencia Digital 2025</p>
  </div>