---
import SocialMedia from "./SocialMediaBtns.astro"
---

<div class="py-8 mx-auto grid place-items-center text-white">
    <div class="grid grid-cols-2 w-3/5 place-items-center">
      <figure class="flex justify-center p-8 md:p-0">
        <img src="./assets/logotipo/logotipo.svg" alt="logo-image" class="w-80 h-auto">
    </figure>
    <SocialMedia
    instagram="@renpi_digital"
    facebook="RenPi"
    />
    </div>
    <p class="text-center">Derechos Reservados © Agencia Digital 2023</p>
  </div>