<div class="border-md">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-8 js-scroll fade-in">Exclusive</h2>
    <figure class="w-2/3 m-auto flex flex-col gap-4 rounded-lg shadow-md js-scroll fade-in-bottom">
        <img src="./assets/moodboard/estrategia.jpg" alt="fotografia-corporativa" class="w-full m-auto h-[200px] object-cover rounded-t-lg">
        <figcaption class="p-4 pt-0">
            El servicio de paquete exclusivo ofrece una <b>experiencia única y personalizada</b> para tus necesidades comerciales. Con un enfoque centrado en el cliente, nuestro equipo de expertos trabajará contigo para diseñar estrategias digitales específicas que impulsen el éxito de tu negocio. Este paquete exclusivo está diseñado para adaptarse a tus necesidades y presupuesto, brindándote una solución integral y efectiva para impulsar tu presencia en línea.
        </figcaption>
    </figure>
</div>