<div class="border-md">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-8 js-scroll fade-in">Video Profesional</h2>
    <figure class="w-2/3 m-auto flex flex-col gap-4 rounded-lg shadow-md js-scroll fade-in-bottom">
        <img src="./assets/moodboard/communitym.jpg" alt="fotografia-corporativa" class="w-full m-auto h-[200px] object-cover rounded-t-lg">
        <figcaption class="p-4 pt-0">
            En la era digital actual, el contenido visual es fundamental para captar la atención de tu audiencia. Nuestro servicio de video profesional te ofrece la oportunidad de <b>destacar con videos de alta calidad que reflejan la esencia de tu marca</b>. Desde la conceptualización hasta la postproducción, nos encargamos de cada detalle para que tu mensaje llegue de manera efectiva y memorable.
        </figcaption>
    </figure>
</div>