<div class="border-md">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-8 js-scroll fade-in">Diseño y Desarrollo Web</h2>
    <figure class="w-2/3 m-auto flex flex-col gap-4 rounded-lg shadow-md js-scroll fade-in-bottom">
        <img src="./assets/moodboard/webDeveloper.webp" alt="fotografia-corporativa" class="w-full m-auto h-[200px] object-cover rounded-t-lg">
        <figcaption class="p-4 pt-0">
            Tu éxito digital comienza con un sitio web excepcional. En RenPi diseñamos y desarrollamos webs atractivas, fáciles de usar y preparadas para móviles. Te garantizamos velocidad, seguridad y optimización SEO para que tu marca brille online. 
            <b>¡Contáctanos y construyamos tu presencia digital ganadora!</b>
        </figcaption>
    </figure>
</div>